
{% extends "base.twig" %}

{% block preload %}
{#    TODO mivanci apply new CSS from Mihaly#}
{#    <link rel="stylesheet" href="{{ asset('css/src/default.css', 'accounting') }}">#}
    <link rel="stylesheet" href="{{ asset('css/src/custom.css', 'accounting') }}">
{% endblock %}

{% block contentwrapper %}
    <div class="pure-g">
        <div class="pure-u-1">
            {% include '@accounting/includes/_header.twig' %}
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-5">
            {% include '@accounting/includes/_navigation.twig' %}
        </div>
        <div class="pure-u-4-5">
            {{ block('content') }}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer style="text-align: center;">
        <div>
            {% trans %}
                As part of the GÉANT 2020 Framework Partnership Agreement (FPA), the project receives funding
                from the European Union’s Horizon 2020 research and innovation programme under Grant
                Agreement No. 856726 (GN4-3).
            {% endtrans %}
        </div>
    </footer>

    {{ parent() }}
{% endblock %}

{% block postload %}
{#    TODO mivanci add JS#}
{#    <script src="{{ asset('js/src/default.js', 'accounting') }}"></script>#}
{% endblock %}
