<!DOCTYPE html>
<html lang="{{ currentLanguage }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{#    <meta name="viewport" content="initial-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=Edge">#}
    <title>{{ pagetitle }}</title>
    <link rel="stylesheet" href="{{ asset('css/src/default.css', 'accounting') }}">
    <link rel="icon" href="{{ asset("icons/favicon.ico") }}">
    <meta name="robots" content="noindex, nofollow">
</head>
<body id="{{ templateId }}">

{% include '@accounting/includes/_header.twig' %}

<section id="main">
    <h1>{{ 'Logout successful'|trans }}</h1>

    <p><a href="./user/personal-data">{{ 'Go back to Profile Page'|trans }}</a></p>
</section>

</body>
</html>