{% set pagetitle = 'Accounting configuration page'|trans %}
{% set frontpage_section = 'main' %}

{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" href="{{ asset('css/accounting.css', 'accounting') }}">
{% endblock %}

{% block content %}

    <h2>{{ pagetitle }} </h2>

    <p>
        {{ test }}, <br>
        Store class: {{ jobs_store }}, <br>
        Store needs setup: {{ jobs_store_needs_setup }}, <br>
        Store setup ran: {{ setup_ran }}, <br>
    </p>

{% endblock %}
{# TODO mivanci delete this file #}