{% set pagetitle = 'Configuration page'|trans %}
{% set frontpage_section = 'main' %}

{% extends "base.twig" %}

{% block preload %}
    <link rel="stylesheet" href="{{ asset('css/accounting.css', 'accounting') }}">
{% endblock %}

{% block content %}

    <h2>{{ pagetitle }} </h2>

    <p>
        {{ test }}, <br>
        Jobs Store class: {{ jobs_store }}, <br>
        Jobs Store needs setup: {{ jobs_store_needs_setup }}, <br>
        Jobs Store setup ran: {{ jobs_store_setup_ran }}, <br>

        Data Store class: {{ data_store }}, <br>
        Data Store needs setup: {{ data_store_needs_setup }}, <br>
        Data Store setup ran: {{ data_store_setup_ran }}, <br>
    </p>

{% endblock %}
{# TODO mivanci delete this file #}