{# @var activityBag \SimpleSAML\Module\accounting\Entities\Activity\Bag #}
{# @var connectedServiceProvider \SimpleSAML\Module\accounting\Entities\ConnectedServiceProvider #}

{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Activity'|trans %}

{% set pageMenuItem = 'activity' %}

{% block content %}

    <h2>{{ pagetitle }} </h2>

    <table class="pure-table pure-table-striped pure-table-attributes">
        <thead>
        <tr>
            <th><strong>{{ 'Time'|trans }}</strong></th>
            <th><strong>{{ 'Access'|trans }}</strong></th>
            <th><strong>{{ 'Sent data'|trans }}</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activityBag.getAll %}
            <tr class="accordion">
                <td>{{ activity.getHappenedAt|date() }}</td>
                <td>{{ activity.getServiceProvider.getName }}</td>
                <td>
                    {% for name in activity.getUser.getAttributes|keys %}
                        {{ name|trans }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr class="panel">
                <td colspan="3">
                    <strong>{{ 'Information transfered to service'|trans }}</strong>
                    <ul>
                        {% for name, value in activity.getUser.getAttributes %}
                            <li>
                                {{ name|trans }}: {{ value|join(', ') }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="center">
        <div class="pagination">
            {% if page > 1 %}
                <a href="?page={{ page - 1 }}">❮</a>
            {% endif %}

            {% if activityBag.getAll|length == maxResults %}
                <a href="?page={{ page + 1 }}">❯</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block postload %}
    {{ parent() }}
    {% include '@accounting/includes/_js-accordion.twig' %}
{% endblock %}