{# @var activityBag \SimpleSAML\Module\accounting\Entities\Activity\Bag #}
{# @var connectedServiceProvider \SimpleSAML\Module\accounting\Entities\ConnectedServiceProvider #}

{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Activity'|trans %}

{% set pageMenuItem = 'activity' %}

{% block content %}
    <table>
        <tr>
            <th><strong>{{ 'Time'|trans }}</strong></th>
            <th><strong>{{ 'Access'|trans }}</strong></th>
            <th><strong>{{ 'Sent data'|trans }}</strong></th>
        </tr>

        {% for activity in activityBag.getAll %}
            <tr class="accordion">
                <td>{{ activity.getHappenedAt|date() }}</td>
                <td>{{ activity.getServiceProvider.getName }}</td>
                <td>
                    {% for name in activity.getUser.getAttributes|keys %}
                        {{ name|trans }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="dropdown-container" colspan="3">
                    <input type="checkbox" id="dropdown-toggle-{{ loop.index }}" class="dropdown-toggle">
                    <label class="dropdown-label" for="dropdown-toggle-{{ loop.index }}">
                        <img src="{{ asset('css/src/icons/dropdown.svg', 'accounting') }}" alt="Dropdown icon">
                    </label>
                    <div class="dropdown-box">
                        <strong>{{ 'IP address'|trans }}</strong>
                        <ul><li>{{ activity.getClientIpAddress|default(' / ') }}</li></ul>

                        <strong>{{ 'Information transfered to service'|trans }}</strong>
                        <ul>
                            {% for name, value in activity.getUser.getAttributes %}
                                <li>
                                    {{ name|trans }}: {{ value|join(', ') }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'No data available'|trans }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="center">
        <div class="pagination">
            {% if page > 1 %}
                <a href="?page={{ page - 1 }}">❮</a>
            {% endif %}

            {% if activityBag.getAll|length == maxResults %}
                <a href="?page={{ page + 1 }}">❯</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
