{# @var activityBag \SimpleSAML\Module\accounting\Entities\Activity\Bag #}
{# @var connectedServiceProvider \SimpleSAML\Module\accounting\Entities\ConnectedService #}

{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Activity'|trans %}

{% set pageMenuItem = 'activity' %}

{% block content %}
    {% if actionButtonsEnabled %}
        {% include "@accounting/user/includes/_action-buttons.twig" %}
    {% endif %}
    <table>
        <tr>
            <th><strong>{{ columnNames.time|trans }}</strong></th>
            <th><strong>{{ columnNames.serviceName|trans }}</strong></th>
            <th><strong>{{ columnNames.sentData|trans }}</strong></th>
        </tr>

        {% for activity in activityBag.getAll %}
            <tr class="accordion">
                <td>{{ activity.getHappenedAt|date() }}</td>
                <td><span class="value">{{ activity.getServiceProvider.getName }}</span></td>
                <td>
                    <span class="value">
                    {% for name in activity.getUser.getAttributes|keys %}
                        {{ name|trans }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="dropdown-container" colspan="3">
                    <input type="checkbox" id="dropdown-toggle-{{ loop.index }}" class="dropdown-toggle">
                    <label class="dropdown-label" for="dropdown-toggle-{{ loop.index }}">
                        <img src="{{ asset('css/src/icons/dropdown.svg', 'accounting') }}" alt="Dropdown icon">
                    </label>
                    <div class="dropdown-box">
                        <strong>{{ columnNames.informationTransferred|trans }}</strong>:
                        {% for name, value in activity.getUser.getAttributes %}
                            <span class="value">
                                {{ name|trans }}: {{ value|join(', ') }}
                            </span>
                        {% endfor %}
                        <br><br>
                        <strong>{{ columnNames.ipAddress|trans }}</strong>:
                            <span class="value">{{ activity.getClientIpAddress|default(' / ') }}</span>
                        <br>
                        <strong>{{ columnNames.authenticationProtocol|trans }}</strong>:
                            <span class="value">
                            {{ activity.getAuthenticationProtocolDesignation|default(' / ') }}
                            </span>
                        <br>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'No data available'|trans }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="center">
        <div class="pagination">
            {% if page > 1 %}
                <a href="?page={{ page - 1 }}">❮</a>
            {% endif %}
                <span class="page">{{ page }}</span>
            {% if activityBag.getAll|length == maxResults %}
                <a href="?page={{ page + 1 }}">❯</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
