{# @var connectedServiceProviderBag \SimpleSAML\Module\accounting\Entities\ConnectedServiceProvider\Bag #}
{# @var connectedServiceProvider \SimpleSAML\Module\accounting\Entities\ConnectedServiceProvider #}

{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Connected Organizations'|trans %}

{% set pageMenuItem = 'connected-organizations' %}

{% block content %}
    <table>
        <!-- fixed table header -->
        <tr>
            <th><strong>{{ 'Name'|trans }}</strong></th>
            <th><strong>{{ 'All access'|trans }}</strong></th>
            <th><strong>{{ 'Last access'|trans }}</strong></th>
        </tr>

        {% for connectedServiceProvider in connectedServiceProviderBag.getAll %}
            <tr>
                <td>{{ connectedServiceProvider.getServiceProvider.getName|e }}</td>
                <td>{{ connectedServiceProvider.getNumberOfAuthentications|e }}</td>
                <td>{{ connectedServiceProvider.getLastAuthenticationAt|date() }}</td>
            </tr>
            <tr>
                <td class="dropdown-container" colspan="3">
                    <input type="checkbox" id="dropdown-toggle-{{ loop.index }}" class="dropdown-toggle">
                    <label class="dropdown-label" for="dropdown-toggle-{{ loop.index }}">
                        <img src="{{ asset('css/src/icons/dropdown.svg', 'accounting') }}" alt="Dropdown icon">
                    </label>
                    <div class="dropdown-box">
                        <strong>{{ 'Service details'|trans }}</strong>
                        <ul>
                            <li>{{ 'Entity ID'|trans }}: {{ connectedServiceProvider.getServiceProvider.getEntityId|e }}</li>
                            <li>{{ 'Description'|trans }}: {{ connectedServiceProvider.getServiceProvider.getDescription|e|default(' / ') }}</li>
                        </ul>

                        <strong>{{ 'Information transfered to service'|trans }}</strong>
                        <ul>
                            {% for name, value in connectedServiceProvider.getUser.getAttributes %}
                                <li>
                                    {{ name|trans }}: {{ value|join(', ') }}
                                </li>
                            {% endfor %}
                        </ul>

                        <strong>{{ 'Login details'|trans }}</strong>
                        <ul>
                            <li>
                                {{ 'First access'|trans }}: {{ connectedServiceProvider.getFirstAuthenticationAt|date() }}
                            </li>
                            <li>
                                {{ 'Last access'|trans }}: {{ connectedServiceProvider.getLastAuthenticationAt|date() }}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'No data available'|trans }}</td>
            </tr>
        {% endfor %}
        <!-- end of repeating item -->
    </table>
{% endblock %}
