{# @var connectedServiceProviderBag \SimpleSAML\Module\accounting\Entities\ConnectedService\Bag #}
{# @var connectedServiceProvider \SimpleSAML\Module\accounting\Entities\ConnectedService #}
{# @var accessTokensByClient array #}
{# @var refreshTokensByClient array #}

{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Connected Organizations'|trans %}

{% set pageMenuItem = 'connected-organizations' %}

{% block content %}
    <table>
        <!-- fixed table header -->
        <tr>
            <th><strong>{{ 'Name'|trans }}</strong></th>
            <th><strong>{{ 'All access'|trans }}</strong></th>
            <th><strong>{{ 'Last access'|trans }}</strong></th>
        </tr>

        {% for connectedServiceProvider in connectedServiceProviderBag.getAll %}
            <tr id="connected-service-provider-{{ loop.index }}">
                <td>
                    <img src="{{ connectedServiceProvider.serviceProvider.logoUrl ?? asset('css/src/icons/no-image.svg', 'accounting') }}"
                         width="30"
                         height="30"
                         loading="lazy"
                         alt="Service Logo"/>
                    {{ connectedServiceProvider.getServiceProvider.getName|e }}
                </td>
                <td>{{ connectedServiceProvider.getNumberOfAuthentications|e }}</td>
                <td>{{ connectedServiceProvider.getLastAuthenticationAt|date() }}</td>
            </tr>
            <tr>
                <td class="dropdown-container" colspan="3">
                    <input type="checkbox" id="dropdown-toggle-{{ loop.index }}" class="dropdown-toggle">
                    <label class="dropdown-label" for="dropdown-toggle-{{ loop.index }}">
                        <img src="{{ asset('css/src/icons/dropdown.svg', 'accounting') }}" alt="Dropdown icon">
                    </label>
                    <div class="dropdown-box" >
                        <strong>{{ 'Service details'|trans }}</strong>
                        <ul>
                            <li>{{ 'Entity ID'|trans }}: {{ connectedServiceProvider.getServiceProvider.getEntityId|e }}</li>
                            <li>{{ 'Description'|trans }}: {{ connectedServiceProvider.getServiceProvider.getDescription|e|default(' / ') }}</li>
                        </ul>

                        <strong>{{ 'Login details'|trans }}</strong>
                        <ul>
                            <li>
                                {{ 'First access'|trans }}: {{ connectedServiceProvider.getFirstAuthenticationAt|date() }}
                            </li>
                            <li>
                                {{ 'Last access'|trans }}: {{ connectedServiceProvider.getLastAuthenticationAt|date() }}
                            </li>
                        </ul>

                        {% if connectedServiceProvider.serviceProvider.protocol.designation is same as oidcProtocolDesignation %}
                            {% if accessTokensByClient is not empty and attribute(accessTokensByClient, connectedServiceProvider.serviceProvider.entityId) %}
                                <strong>{{ 'Access Tokens'|trans }}</strong>
                                <table>
                                    {% for accessToken in attribute(accessTokensByClient, connectedServiceProvider.serviceProvider.entityId) %}
                                        <tr>
                                            <td>
                                                {{ accessToken.id }}<br>
                                                {{ 'Expires at'|trans }} {{ accessToken.expires_at|date }}
                                            </td>
                                            <td>
                                                <form class="token-revoke-form" action="oidc-tokens/revoke-xhr">
                                                    <input type="hidden" name="token-type" value="access">
                                                    <input type="hidden" name="token-id" value="{{ accessToken.id }}">
                                                    <input type="submit" value="Revoke">
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}

                            {% if refreshTokensByClient is not empty and attribute(refreshTokensByClient, connectedServiceProvider.serviceProvider.entityId) %}
                                <strong>{{ 'Refresh Tokens'|trans }}</strong>
                                <table>
                                    {% for refreshToken in attribute(refreshTokensByClient, connectedServiceProvider.serviceProvider.entityId) %}
                                        <tr>
                                            <td>
                                                {{ refreshToken.id }}<br>
                                                {{ 'Expires at'|trans }} {{ refreshToken.expires_at|date }}
                                            </td>
                                            <td>
                                                <form class="token-revoke-form" action="oidc-tokens/revoke-xhr">
                                                    <input type="hidden" name="token-type" value="refresh">
                                                    <input type="hidden" name="token-id" value="{{ refreshToken.id }}">
                                                    <input type="submit" value="Revoke">
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'No data available'|trans }}</td>
            </tr>
        {% endfor %}
        <!-- end of repeating item -->
    </table>
{% endblock %}

{% block tail %}

    <script>
        (function () {
            document.querySelectorAll('.token-revoke-form').forEach(
                element => element.addEventListener('submit', revokeToken)
            );

            function revokeToken(event) {
                event.preventDefault();

                const form = event.target;
                const submitButton = event.submitter;
                const formData = new FormData(form);

                if (! confirm('{{ 'Are you sure?'|trans }}')) {
                    return;
                }

                submitButton.disabled = true;

                const request = new XMLHttpRequest();

                request.open('POST', form.action);

                request.onload = function () {
                    if (this.status === 200) {
                        accounting.removeElement(form.closest('tr'));
                    } else {
                        const response = JSON.parse(this.responseText);
                        console.log(response);
                        accounting.alert('{{ 'Oups, there was an error while trying to revoke token.'|trans }}');
                    }
                };

                request.send(formData);
            }
        })();
    </script>

{% endblock %}