
{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Personal Data'|trans %}

{% set pageMenuItem = 'personal-data' %}

{% block banner %}
    <section id="banner">
        <div>
            {% trans %}This is what we know about you...{% endtrans %}
        </div>
    </section>
{% endblock %}

{% block content %}
    <table>
        <!-- fixed table header -->
        <tr>
            <th>{{ 'Attribute'|trans }}</th>
            <th>{{ 'Your value'|trans }}</th>
        </tr>

        {% for name, value in normalizedAttributes %}
            <tr>
                <td>
                    {{ name|trans }}
                    <a href="#"><img src="{{ asset('css/src/icons/i.svg', 'accounting') }}" alt="Info icon"></a>
                </td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
