
{% extends "@profilepage/base.twig" %}

{% set pagetitle = 'Personal Data'|trans %}

{% set pageMenuItem = 'personal-data' %}

{% block banner %}
    <section id="banner">
        <div>
            {% trans %}This is what we know about you...{% endtrans %}
        </div>
    </section>
{% endblock %}

{% block content %}
    {% if actionButtonsEnabled %}
        {% include "@profilepage/user/includes/_action-buttons.twig" %}
    {% endif %}
    <table>
        <!-- fixed table header -->
        <tr>
            <th>{{ columnNames.attribute|trans }}</th>
            <th>{{ columnNames.values|trans }}</th>
        </tr>

        {% for name, value in normalizedAttributes %}
            <tr>
                <td>
                    {{ name|trans }}
                    <div class="popup" onclick="profilepage.doPopup('popup-{{ name }}')">
                        <img src="{{ asset('css/src/icons/i.svg', 'profilepage') }}" alt="Info icon"/>
                        {% set helpId = 'help-attribute-' ~ name %}
                        <span class="popuptext" id="popup-{{ name }}">
                            {{ helpId|trans }}
                        </span>
                    </div>
                </td>
                <td><span class="value">{{ value }}</span></td>
            </tr>
        {% endfor %}
    </table>

    {% if decodedSphereonResponse.qrCodeDataUri %}
        <br>
        <p>{{ 'Get your verifiable credential by scanning the QR'|trans }}:</p>
        <img src="{{ decodedSphereonResponse.qrCodeDataUri }}" alt="PreAuthzCode QR">
    {% endif %}
{% endblock %}
